img, div, svg, ft-click,ft-video-controls{position: absolute; margin: 0; padding: 0; -webkit-backface-visibility: hidden; -moz-backface-visibility:hidden; backface-visibility: hidden;}
body{
  color:#000;
  margin:0;
  
}

.bannerSize{width: 728px; height: 90px;}

#cover{
  background-color: #f4f4f4;
  top: 0;
  z-index: 949;
}

.clickthrough{
  cursor: pointer;
  z-index: 800;
}

.defaultBorder{
  border: 1px solid #7d7d7d;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
  z-index: 1000;
}

.defaultSize{
  height: 90px;
  width: 728px;
}
.expandSize{
  height: 250px;
  width: 728px;
}

ft-default{
  background-color: #D6E8EA;
  height:90px;
  text-align: center;
  width:728px;  
  overflow: hidden;  
}

.capOneLogo{
  height: 48px;
  left: 22px;
  top: 21px;
  width: 130px;
  z-index: 400;
  transform: scale(1.11);
}
#redSwoop{
  height: 48px;
  left: 35px;
  top: 0;
  width: 90px;
}
#capital{
  height: 20px;
  left: 0;
  top: 19px;
  width: 88px;
}
#one{
  height: 20px;
  left: 88px;
  top: 19px;
  width: 41px;
}

.ctaCont {
  height: 31px;
  left: 613.5px;
  top: 29.5px;
  width: 15px;
}
.ctaCont #rArrow {
  height: inherit;
  width: inherit;
}

#fdicLogo{
  height: 27px;
  left: 608px;
  top: 31px;
  width: 43px;
}

#txt1a {
  height: 51px;
  left: 0px;
  width: 339px;
}
#txt1b {
  height: 23px;
  left: 0;
  top: 28px;
  width: 318px;
}

.mask {
  left: 225px;
  top: 19px;
}

.mask a {
  animation: 3s 
cubic-bezier(0.7, 0.1, 0.1, 0.7) 1s shimmer;
  background-position: -360px 0;
  display: block;
  margin: 0px auto;
  position: relative;
  text-align: center;
  width: 339px;
  height: 51px;
}

#mask-glimmer{
  width: 356px;
  height: 51px;
}

.mask a::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(0 0, circle farthest-side, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%) no-repeat;
  background: radial-gradient(circle farthest-side at 0 0, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%) no-repeat;
  background-position: inherit;
  mask: url("#mask-glimmer");
}

@keyframes shimmer {
  from {
    background-position: -360px 0;
  }
  to {
    background-position: 360px 0;
  }
}

ft-expand{
    background-color: #D6E8EA;
    height:250px;
    margin-top:0;
    overflow: hidden;
    position:absolute;
    text-align: center;
    width:728px;
}

#close{
  height: 20px;
  right: 0;
  top: 0;
  width: 20px;
  z-index: 850;
}

.expCapOneLogo{
  height: 30px;
  left: 470px;
  top: 25.5px;
  width: 82px;
  z-index: 399;
  transform: scale(1.2);
}

.expCapOneLogo #redSwoop{
  height: 30px;
  left: 22px;
  top: 0;
  width: 57px;
}

.expCapOneLogo #capital{
  height: 13px;
  left: 0;
  top: 12px;
  width: 55px;
}

.expCapOneLogo #one{
  height: 13px;
  left: 56px;
  top: 12px;
  width: 26px;
}

.expandBtn, .closeBtn{
  height: 20px;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  width: 20px;
  z-index: 850;
}

.closeBtn{
  transform: rotate(0deg);
}

.txt2a {
  top: 0px;
  left: 0px;
  width: 173px;
  height: 28px;
}
.txt2b {
  left: 0px;
  top: 31px;
  width: 132px;
  height: 26px;
  z-index: 1;
}
.txt2c {
  height: 15px;
  left: 0px;
  top: 41px;
  width: 117px;
}
.exp-mask {
  left: 462px;
  top: 100px;
}

.exp-mask a {
  animation: 3s 
cubic-bezier(0.7, 0.1, 0.1, 0.7) 0.25s expshimmer;
  background-position: -135px 0;
  display: block;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 173px;
  height: 57px;
}

#exp-mask-glimmer{
  height: 50px;
  width: 171px;
}

.exp-mask a::after{
  content: "";
  position: absolute;
  pointer-events: none;
  top: 3px;
  left: 1px;
  width: 171px;
  height: 50px;
  background: radial-gradient(circle farthest-side at 0 0, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%) no-repeat;
  background-position: inherit;
  -webkit-mask: url("#exp-mask-glimmer") no-repeat;
  -webkit-mask-size: 171px 50px;
  mask: url("#exp-mask-glimmer") no-repeat;
  mask-size: 171px 50px;
}

@keyframes expshimmer {
  from {
    background-position: -135px 0;
  }
  to {
    background-position: 135px 0;
  }
}

/*----- Video Container -----*/
.videoCont{
  height: 250px;
  left: 0;
  top: 0;
  width: 447px;
  z-index: 830;
}
#vidPoster{
  height: inherit;
  left: 0;
  width: inherit;
  z-index: 831;
}
#video1{
  height: inherit;
  left: 0;
  position: absolute;
  width: inherit;
}

/*----- expand cta -----*/
.ctaExpCont{
  height: 100%;
  width: 100%;
}
.ctaExpCont .ctaBtn {
  height: 8px;
  left: 464px;
  top: 153px;
  width: 60px;
}
.ctaExpCont #ctaTxt {
  height: 8px;
  left: 0;
  top: 0;
  width: 52px;
}
.ctaExpCont #rArrowExp {
  height: 6px;
  left: 56px;
  top: 1px;
  width: 4px;
}

#fdicLogoExp{
  height: 19px;
  left: 463px;
  top: 209px;
  width: 30px;
}

#jeremy{
  height: 207px;
  left: 547px;
  top: 42px;
  width: 181px;
}

#cup{
  right: 10px;
  top: 34px;
}
#ball{
  transform: translateX(-100%);
  left: 0px;
  top: 30px;
}
#coffee{
  right: 20px;
  top: 26px;
}
#marchLogo{
  top: 174px;
  left: 455px;
  width: 124px;
  height: 60px;
}
#rArrowExp{
  height: 24px;
  left: 680px;
  top: 117px;
  width: 16px;
}

#expCup {
    right: -29px;
    top: 147px;
    width: 174px;
    height: 153px;
    z-index: 5;
}
#expBall{
  /* left: 382px;
  top: -38px; */
  width: 71px;
  height: 59px;
  z-index: 4;
}
#expCoffee{
  right: -12px;
  top: 139px;
  z-index: 6;
  width: 144px;
}
