img, div,ft-click,ft-video-controls{position: absolute; margin: 0; padding: 0; -webkit-backface-visibility: hidden; -moz-backface-visibility:hidden; backface-visibility: hidden;}
body{
  color:#000;
  margin:0;
  
}

.bannerSize{width: 970px; height: 66px;}
#banner { overflow: hidden;}
#cover{
  background-color: #D6E8EA;
  top: 0;
  z-index: 949;
}

.clickthrough{
  cursor: pointer;
  z-index: 800;
}

.defaultBorder{
  border: 1px solid #000000;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
  z-index: 850;
}

.defaultSize{
  height: 66px;
  width: 970px;
}
.expandSize{
  height: 250px;
  width: 970px;
}

ft-default{
    background-color: #D6E8EA;
    height:66px;
    overflow: hidden;
    text-align: center;
    width:970px;    
}

/* B-Ball, shadow, and svg bounce path ------------ */
.ballCont{
  height: 66px;
  left: 970px;
  top: -10px;
  width: 50px;
  z-index: 20;
}
.ballCont #ball{
  height: 50px;
  left: 0;
  top: 0;
  width: 50px;
  z-index: 401;
}
.ballCont #ballShadow{
  height: 6px;
  left: 13px;
  opacity: 0.5;
  transform-origin: center center;
  top: 68px;
  width: 25px;
}

/* frame 1 */
#txt1Cont{
  height: 66px;
  left: 0px;
  overflow: hidden;
  top: 0px;
  width: 970px;
  z-index: 10;
}

#txt1a{
  height: 31px;
  left: 200px;
  top: 20px;
  width: 571px;
}

#rArrow{
  height: 24px;
  left: 904px;
  top: 21px;
  width: 16px;
}

#fdic {
  height: 29px;
  left: 814px;
  top: 19px;
  width: 45px;
}


/* Collapsed Cap One Logo ------------ */
.capOneLogo{
  height: 65px;
  left: 16px;
  top: 13px;
  transform: scale(0.62);
  transform-origin: top left;
  width: 181px;
  z-index: 5;
}
#redSwoop{
  height: 65px;
  left: 49px;
  top: 0;
  width: 126px;
}
#capital{
  height:28px;
  left: 0;
  top: 27px;
  width: 122px;
}
#one{
  height: 27px;
  left: 123px;
  top: 27px;
  width: 57px;
}

/* Expanded Cap One Logo ------------ */
.expCapOneLogo{
  height: 70px;
  left: 476px;
  transform: scale(0.62);
  transform-origin: top left;
  top: 25px;
  width: 196px;
  z-index: 800;
}

.expCapOneLogo #expRedSwoop{ 
  height: 70px;
  left: 53px;
  top: 0;
  width: 136px;
}

.expCapOneLogo #expCapital{ 
  height: 29px;
  left: 0;
  top: 29px;
  width: 133px;
}

.expCapOneLogo #expOne{ 
  height: 29px;
  left: 133px;
  top: 29px;
  width: 62px;
}

#txt2a{
  height: 28px;
  left: 475px;
  top: 83px;
  width: 231px;
  z-index: 201;
}
#txt2b{
  height: 23px;
  left: 475px;
  top: 114px;
  width: 231px;
  z-index: 202;
}
#txt2c{
  height: 25px;
  left: 475px;
  top: 142px;
  width: 231px;
  z-index: 203;
}

#exprArrow{
  height: 26px;
  left: 876px;
  top: 112px;
  width: 17px;
  z-index: 205;
}

.ballContExp{
  height: 88px;
  left: 440px;
  overflow: hidden;
  top: 190px;
  width: 530px;
  z-index: 220;
}
.ballContExp #ball2{
  height: 50px;
  left: 530px;
  top: 0;
  width: 50px;
}
.ballContExp #ball2Shadow{
  height: 8px;
  left: 534px;
  top: 46px;
  width: 42px;
}

.ncaaLockupCont{
  height: 68px;
  left: 440px;
  overflow: hidden;
  top: 171px;
  width: 530px;
  z-index: 210;
}
#proudPartnerOf{
  height: 68px;
  left: 197px;
  top: 0px;
  width: 141px;
}
#ncaammLogo{
  height: 36px;
  left: 150px;
  top: 0;
  width: 85px;
}

#fdicExp {
  height: 23px;
  left: 904px;
  top: 26px;
  width: 37px;
  z-index: 250;
}

ft-expand{
    background-color: #D6E8EA;
    height: 250px;
    margin-top:0;
    overflow: hidden;
    position:absolute;
    text-align: center;
    width:970px;
}

#close{
  right: 0;
  top: 0;
  z-index: 850;
}

.expandBtn, .closeBtn{
  height: 20px;
  right: 1px;
  top: 1px;
  transform: rotate(180deg);
  width: 20px;
  z-index: 850;
}

.closeBtn{
  transform: rotate(0deg);
}

.videoCont{
  height: 250px;
  left: 0;
  top: 0;
  width: 444px;
  z-index: 830;
}
#vidPoster{
  height: inherit;
  left: 0;
  width: inherit;
  z-index: 831;
}

#video1{
  height: inherit;
  left: 0;
  position: absolute;
  width: inherit;
}

#tap{   
    margin: 0;          
    padding-top: 17.5px;
}